<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pestaña</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <header>
        <h1>
            <span id="titulo">Diseño</span>
            <span id="titulo1">Multimedia</span>
        </h1>
        <nav>
            <ul class="paginas">
                <li class="color"><a href="../index.html">Inicio</a></li>
                <li><a href="../templates/Nosotros.html">Nosotros</a></li>
                <li><a href="../templates/servicios.html">Servicios</a></li>
                <li><a href="../templates/contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <hr size="5px" color="#2256b8" />
    <section id="suscribirse">
        <h2>Subscribete a nuestro boletin</h2>
        <div class="suscribirse-form">
            <input class="input" type="email" placeholder="Ingrese el email">
            <button>Subscribirse</button>
        </div>
    </section>
    <main>
        <div class="content-container">
            <div class="nosotros-content">
                <h2>Nosotros</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec veget auctor ipsum nec laugiat. Phasellus
                    id amet vel ipsum. Praesent placerat tincidunt tempor. Etiam velit eros, dapibus eger porta it, luctus et
                    massa. Nunc vehicula condimentum varius. Nunc cursus, tortor et ultrices porttitor, mauris magna tristique
                    neque, vel sagittis nibh lorem in magna. Nunc auctor, leo vel sodales tincidunt, nibh nisl venenatis tellus,
                    cursus.
                </p>
                <p class="tercer-texto">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem incidunt ullam similique saepe architecto cumque perferendis exercitationem dolores? Quod tenetur numquam assumenda? Illo dolore suscipit ex eius. Quaerat, facilis natus. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas libero impedit rerum laborum magni, omnis, atque maiores odio nostrum delectus amet. Odit tempora architecto quae molestias aspernatur illum, natus fugiat! Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste recusandae, amet asperiores culpa molestiae laudantium fugit voluptates. Consectetur rerum, debitis dolores fuga eaque quasi officia adipisci, autem quibusdam illo id?
                </p>
            </div>
            <div class="que-hacemos-content">
                <div class="que-hacemos-header">
                    <h2>Que hacemos</h2>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Donec veget auctor ipsum
                    nec laugiat. Phasellus id amet vel ipsum
                    Praesent placerat tincidunt tempor. Etiam
                    velit eros, dapibus eger porta it, luctus et
                    magna.
                </p>
            </div>
          
        </div>
        <div class="image-container">
            <img src="../assets/images/891.jpg" alt="Laptop Image">
        </div>
    </main>
    <footer>
        <p> Graphel Desarrollo Web, Copyright © 2017</p>
    </footer>
</body>
</html>
